@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');


$black: #393e46;
$orange: #da4934;
$green: #6d9886;
$green-2: #479072;
$gray: #f7f7f7;
$beige: #f2e7d5;
$primary_font_family: "Roboto", sans-serif;
